* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 100px;
  align-items: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li a {
    text-decoration: none;
    padding: 20px;
    color: rgb(71, 70, 86);
    font-family: "Oswald", serif;
    font-weight: 600;
    font-size: 11px;
    align-items: center;
    display: flex;
  }
}

.active {
  color: rgb(4, 131, 249);
}

/* main */
main {
  background-color: rgb(28, 28, 28);
  position: relative;
  z-index: 10;
}

.jumbotron {
  height: 305px;

  .jumbotron-img {
    height: max-content;
    width: 100%;
  }
}

.container-main {
  background-color: rgb(28, 28, 28);
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;

  h4 {
    background-color: rgb(4, 131, 249);
    color: white;
    width: 220px;
    text-align: center;
    padding: 10px;
    font-family: "Oswald", serif;
    font-size: 23px;
    position: absolute;
    top: -23px;
  }

  .btn {
    padding: 5px 50px;
    background-color: rgb(4, 131, 249);
    color: white;
    border-radius: 0px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;
  }
}

/* card */
.structureCard {
  width: calc((100% / 7) - 10px);
  height: 220px;
  margin: 10px;
  overflow: hidden;
  margin-bottom: 30px;

  p {
    padding: 0px;
    font-family: "Open Sans", serif;
    font-size: 13px;
    padding-top: 14px;
  }
}

.img-card {
  width: 100%;
  height: 190px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

/* footer background */
.container-blue {
  background-color: rgb(5, 131, 248);
  height: 130px;
  position: relative;
  z-index: 10;
}

.container-image {
  background-image: url("./assets/img/footer-bg.jpg");
  height: 100%;
  position: relative;
  background-position: bottom;
}

.container-black {
  background-color: rgb(49, 48, 49);
  height: 100px;
  z-index: 10;
  position: relative;
  align-items: center;
  display: flex;
}

/* footer all */

.footer-icon {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  height: 100%;

  li {
    display: flex;
    align-items: center;
  }

  .box-img {
    width: 40px;
    height: 50px;
  }
  & img {
    height: 100%;
    width: 100%;
  }
  li a {
    font-family: "Open Sans", serif;
    color: white;
    padding: 30px;
    padding-left: 10px;
  }
}

.img-bg {
  position: absolute;
  height: 150%;
  right: 250px;
  bottom: -72px;
  font-size: 20px;
}

.text-footer {
  color: white;
  width: calc(50% / 3);

  h6 {
    font-family: "Oswald", serif;
  }
  ul {
    padding: 0px;
    display: inline-block;
  }

  li a {
    padding: 0px;
    color: rgb(148, 149, 148);
    font-family: "Open Sans", serif;
    font-size: 11px;
  }
}

.button {
  border-radius: 0px;
  border-width: 2px;
  border-color: rgb(4, 131, 249);
  color: white;
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
}

.follow {
  color: rgb(4, 131, 249);
  font-weight: bold;
  padding-top: 10px;
}

.social ul li a {
  padding: 5px;
}
