* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 100px;
  align-items: center;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

ul li a {
  text-decoration: none;
  padding: 20px;
  color: rgb(71, 70, 86);
  font-family: "Oswald", serif;
  font-weight: 600;
  font-size: 11px;
}

/* main */
main {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
}

/* footer background */
.container-blue {
  background-color: rgb(5, 131, 248);
  height: 200px;
  position: relative;
  z-index: 10;
}

.container-image {
  background-image: url("./assets/img/footer-bg.jpg");
  height: 100%;
  position: relative;
  background-position: bottom;
}

.container-black {
  background-color: rgb(49, 48, 49);
  height: 100px;
  z-index: 10;
  position: relative;
  align-items: center;
  display: flex;
}

/* footer all */

.footer-icon {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  height: 100%;
}

.footer-icon li a {
  font-family: "Open Sans", serif;
  color: white;
  padding: 30px;
  padding-left: 10px;
}

.img-bg {
  position: absolute;
  height: 150%;
  right: 250px;
  bottom: -90px;
  font-size: 20px;
}

.text-footer {
  color: white;
  width: calc(50% / 3);
}

.text-footer ul {
  padding: 0px;
  display: inline-block;
}

.text-footer ul li a {
  padding: 0px;
  color: rgb(148, 149, 148);
  font-family: "Open Sans", serif;
  font-size: 11px;
}

.button {
  border-radius: 0px;
  border-width: 2px;
  border-color: rgb(4, 131, 249);
  color: white;
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
}

.follow {
  color: rgb(4, 131, 249);
  font-weight: bold;
  padding-top: 10px;
}

.social ul li a {
  padding: 5px;
}
